<!DOCTYPE html>
<html>
  <head>
    <title>AssociationDay09</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">text page</a></li>
        <li><a href="#">top page</a></li>
        <%= link_to "Blog", blogs_path %> 
      </ul>
    </header>
    <% flash.each do |key, value| %> 
    <%= content_tag(:div, value, class: "#{key}") %> 
    <% end %> 
    <% if logged_in? %> 
    <%= link_to "Profile", user_path(current_user.id) %> 
    <%= link_to "Logout", session_path(current_user.id), method: :delete %> 
    <% else %> 
    <%= link_to "Sign up", new_user_path %> 
    <%= link_to "Login", new_session_path %> 
    <% end %> 
　　 <%= yield %> 
    <footer>
      <p>Operating company DIVE INTO CODE Co., Ltd.</p>
      <p>© 2015-2016 DIVE INTO CODE Corp.</p>
    </footer>
</body>
</html>
